.scroll-text {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  transform: rotate(0.75turn);
  position: fixed;
  top: 55vh;
  right: -2.4rem;
}

@media only screen and (min-width: 1600px) {
  .scroll-text {
    right: 1rem;
  }
}

@media only screen and (max-width: 1500px) {
  .scroll-text {
    right: -4rem;
  }
}

@media only screen and (max-width: 1260px) {
  .scroll-text {
    display: none;
  }
}
