.modal-backdrop {
  background-color: black;
}

.modal-z-index {
  z-index: 9999;
}

.hover:hover {
  opacity: 0.8;
}

.modal-shadow {
  -webkit-box-shadow: 0px 0px 160px 80px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 160px 80px rgb(0, 0, 0);
  box-shadow: 0px 0px 160px 80px rgb(0, 0, 0);
}

.drop-shadow {
  filter: drop-shadow(0 0 6px black);
}

.orange-hover:hover {
  color: #ef6c00;
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
  .modal-sm-subtitle {
    font-size: 1rem;
  }
  .modal-sm-subtitle {
    font-size: 0.9rem;
  }
  .modal-sm-text {
    font-size: 0.8rem;
  }
}
