#form-search-by-title {
  width: 40%;
}

#search {
  position: relative;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 1%;
  min-width: 0;
}

#search:active,
#search:focus {
  outline: none;
}

#search-left-side {
  border-radius: 50% 0 0 50%;
}

#search-right-side {
  border-radius: 0 50% 50% 0;
}

.search-box {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1260px) {
  .search-box {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  #form-search-by-title {
    width: 75%;
  }
}
