.nav-position {
  position: sticky;
  top: 0;
}

.navbar-brand-link {
  letter-spacing: 0.15rem;
  cursor: pointer;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu-dark .dropdown-item:active {
  background-color: #0f0f0f;
}

#search,
#form {
  background-color: #0f0f0f;
}

#search:active,
#search:focus {
  outline: none;
}

.nav-dropdown-link:hover {
  color: #ef6c00;
}

@media only screen and (max-width: 1260px) {
  .nav-position {
    position: fixed;
    width: 100%;
  }
}
