@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: #1a1d27;
}

nav {
  z-index: 3;
}

.img-dark-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.object-fit-cover {
  object-fit: cover;
}

.rounded-4 {
  border-radius: 10px;
}

.text-orange {
  color: #ef6c00;
}

.fs-7 {
  font-size: 0.8rem;
}

.bg-orange {
  background-color: #ef6c00;
}

.pointer {
  cursor: pointer;
}

.bg-darker {
  background-color: #1a1d27;
}

.btn-check:focus,
.btn:focus,
input:focus {
  box-shadow: none;
}
